@media (max-width: 1500px) {
    .header {
        &__inner {
            h1 {

                span:nth-child(1) {
                    margin-right: 70px;
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .header {
        &__inner {
            p {
                font-size: 22px;
            }
        }
    }

    .dscr-section__wrap {
        .dscr-items {
            .dscr-item {
                font-size: 14px;

                &__icon {
                    margin-left: 40px;
                }
            }
        }
    }

    .about{
        .middle-text{
            width: 400px;
            height: 270px;
            font-size: 22px;

            &__wrap{
                top: -20px;
            }
        }

        &__middle{
            bottom: -200px;
        }
    }

    .about-item{
        &__text{
            font-size: 16px;
            max-width: 230px;
        }  
    }
}

@media (max-width: 1200px) {
    .header {
        &__inner {
            p {
                font-size: 20px;
            }

            .join-btn {
                font-size: 20px;
            }
        }

        &__date {
            font-size: 32px;
        }
    }

    .dscr-section__wrap {
        .dscr-items {
            padding-top: 194px;

            .dscr-item__shape {
                min-height: 185px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .dscr-section__wrap {
        .dscr-items-slider {
            padding-top: 0;
        }
    }

    .header {
        &__inner {
            h1 {
                span:nth-child(1) {
                    margin-right: 15px;
                }
            }
        }
    }

    .down-arrow {
        display: none;
    }

    .dscr-section {
        padding: 0;

        .slick-list {
            overflow: initial;
        }

        .socials {
            justify-content: center;
        }

        &__wrap {
            background-image: url('../img/dscr-bg-mob.png');

            .dscr-items {
                &-slider {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-top: 362px;
                    overflow-x: hidden;
                    overflow-y: visible;
                }

                .dscr-item.with-shape {
                    border-radius: 30px;
                }

                .dscr-item:nth-child(2) {
                    border-radius: 30px;
                }

                &_mob-hide {
                    display: none;
                }

                .slick-current{
                    transition: 1s all;
                    transform: scale(1.2);
                }

                .dscr-item {
                    flex-direction: column;
                    margin: 0 20px;
                    text-align: center;

                    &__icon {
                        margin: 0;

                        img {
                            width: 30px;
                            min-width: initial;
                            margin-bottom: 10px;
                        }
                    }

                    &__head {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        transform: translateY(-100%);
                    }

                    .head-reverse{
                        transform: translateY(-100%) scaleX(-1);
                    }
                }
            }
        }
    }
    
    .dscr-item__shape {
        display: none;
    }
}

@media (max-width: 800px) {
    .header {
        background-image: url('../img/header-bg-mob.jpg');
    }

    .spaceship {
        display: none;
    }

    .spaceship-mob {
        display: initial;
        width: 50%;
    }

    .break-mob {
        display: initial;
    }

    .mob-hide {
        display: none;
    }

    .logo img {
        width: 85px;
        height: 85px;
    }

    .header__inner {
        width: initial;
        align-items: flex-start;
        padding-bottom: 85px;
        padding-top: 28px;

        h1 {
            display: initial;
            position: relative;
            font-size: 68px;
            z-index: 2;

            span:first-child {
                line-height: 1;
            }
        }

        p {
            font-size: 18px;
        }

        .header__date {
            display: initial;
            margin-top: 28px;
        }

        .join-btn {
            align-self: flex-start;
            margin-top: 160px;
        }
    }

    .dscr-section{
        &__wrap{
            padding: 0;

            .dscr-items-slider{
                padding-top: 471px;
            }
        }
    }

    .about{
        padding: 300px 0 300px 0;
        background-image: url('../img/about-mob-bg.png');

        .middle-text{
            font-size: 30px;
            transform: initial;
            width: 100%;
            height: 445px;
            background-image: url('../img/abstract-waves-mob.png');
            background-size: cover;

            &__wrap{
                position: initial;
                width: 100%;
                margin-top: -210px; 
            }

            .join-btn{
                display: inline-flex;
                font-size: 27px;
                margin-top: 53px;
            }
        }

        &__middle{
            position: initial;
            padding: 20px;
            max-width: initial;
            transform: initial;
            border-radius: 0 0 35px 35px;
            box-shadow: 2px 10px 100px #7f68ffc1;
        }
        &__bottom{
            margin: 11px;
            background: #000;
            border: 1px solid rgba(255,255, 255, .2);
            padding-bottom: 25px;
            border-radius: 0 0 35px 35px;
        }
    }

    .about-blur{
        flex-direction: column;
        padding: 30px 0;
        margin: 230px 11px 0 11px;
    }
    
    .about-item{
        max-width: initial;
        margin-top: 50px;
        padding: 0 20px;

        &__icon{
            margin-bottom: 20px;
        }
        &__text{
            font-size: 18px;  
            max-width: initial; 
        }
    }

    .audience{
        h2{
            font-size: 34px;
            text-align: center;
        }

        .slick-list{
            padding: 70px 20px !important;
            .slick-slide{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .audience-item__text{
                    margin-top: 20px;
                    font-size: 18px;
                }

                .audience-item__icon{
                    margin-right: 0;
                }

                .audience-item__icon{
                    &_not-active{
                        display: none;
                    }
                }
            }

           

            .slick-current{
                box-shadow: 2px 2px 28px #7f68ffa1;
                background-color: #7E68FF;
                transform: scale(1.1);
            }
        }
    }

    .audience-item{
        margin: 0 20px;
    }

    .speakers{
        display: none;
    }

    .speakers-mob{
        display: initial;
    }

    footer{
        background-image: url('../img/footer-mob-bg.png');
        .join-btn{
            margin: 190px 0 40px;
        }

        margin-top: 40px;
    }
}

@media (min-width: 800px) {
    .about-mob{
        display: none;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 25px;
    }

    .spaceship-mob {
        width: 100%;
    }

    .header__inner {
        .join-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-self: initial;
            font-size: 32px;
        }
    }
}